


<div class="list list-inset">
  <label class="item item-input item-floating-label">
    <span class="input-label">用户名</span>
    <input type="text" placeholder="请输入您的用户名" ng-model="aname">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">用户密码</span>
    <input type="text" placeholder="请输入您的密码" ng-model="apwd">
  </label>
    <button class="button button-positive" ng-click="handleClick()">点击登录</button>
    <button class="button button-positive" ui-sref="REGISTER">立即注册</button>
    <button class="button button-positive" ui-sref="start">返回首页</button>
</div>